# embedding model
EMBEDDING_MODEL=qwen/qwen3-embedding-4b
EMBEDDING_DIM=1536
EMBEDDING_BINDING_HOST=https://openrouter.ai/api/v1
EMBEDDING_BINDING_API_KEY=
EMBEDDING_TOKEN_LIMIT=32768

# test
MINI_CODE_INDEX_RUN_INTEGRATION=1

#chromadb
CHROMADB_HOST=http://localhost:8010
# minimax/minimax-m2.5 google/gemini-3-flash-preview z-ai/glm-5 qwen/qwen3.5-plus-02-15 qwen/qwen3-coder-next moonshotai/kimi-k2.5 deepseek/deepseek-v3.2 x-ai/grok-4.1-fast

# planer model
PLANNER_BASE_URL=https://openrouter.ai/api/v1
PLANNER_API_KEY=
PLANNER_MODEL=qwen/qwen3-coder-next

# tavily
TAVILY_SEARCH_API_KEY=

# tavily search summary
SUMMARY_BASE_URL=https://openrouter.ai/api/v1
SUMMARY_API_KEY=
SUMMARY_MODEL=minimax/minimax-m2.5

# task agent
TASK_AGENT_BASE_URL=https://openrouter.ai/api/v1
TASK_AGENT_API_KEY=
TASK_AGENT_MODEL=minimax/minimax-m2.5

# synthesizer agent
SYNTHESIZER_BASE_URL=https://openrouter.ai/api/v1
SYNTHESIZER_API_KEY=
SYNTHESIZER_MODEL=qwen/qwen3-coder-next

# summary agent
SUMMARIZE_BASE_URL=https://openrouter.ai/api/v1
SUMMARIZE_API_KEY=
SUMMARIZE_MODEL=minimax/minimax-m2.5